option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: 'SingleInstance'

  aws:autoscaling:launchconfiguration:
    InstanceType: 't2.nano'

  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html#command-options-general-elasticbeanstalkhostmanager
  aws:elasticbeanstalk:hostmanager:
    LogPublicationControl: true
